@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  @apply touch-none overflow-hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  @apply cursor-grab active:!cursor-grabbing select-none;
  /* other cursor stlyes in Computers.js */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-style::-webkit-scrollbar {
    @apply w-1.5;
  }

  .scrollbar-style::-webkit-scrollbar-thumb {
    @apply bg-spotify-green rounded-lg;
  }

  .scrollbar-style::-webkit-scrollbar-thumb:hover {
    @apply bg-spotify-green/70;
  }

  .scrollbar-style::-webkit-scrollbar-track {
    @apply bg-[#272727] rounded-lg;
  }
}
